*{
    margin:0;
    padding:0;
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color:rgb(245,248,255);
}
/* .inter-normal {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:bolder;
  color:#4E47FF;
} */

/* shared styles */
.btn-primary{
  color:#ffffff;
  background-color: #4E47FF;
  border-radius:10px;
  padding:12px 36px;
  border:none;
  font-size:16px;
}

/* header styles */
header{
    background-image: url("./images/Hero-bg.png");
}
nav{
    max-width:1140px;
    display:flex;
    justify-content:space-between;
    margin:0px auto;
    align-items: center;
    padding-top:50px;
}
nav .logo{
    color:#4E47FF;
}
.bannar{
    margin:0 auto;
    width:905px;
    text-align:center;
    padding: 158px 0;
}
.bannar p{
    font-size:65px;
    font-weight:bold;
    margin-bottom: 37px;
}


/* action styles */

.action{
    display:flex;
    width:1140px;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    padding:120px 0;
}
.action-content{
    width:517px;
}
.action-title{
    font-size: 42px;
    font-weight:bold;
}
.action-para{
    padding:20px 0;
    font-size:24px;
    color:#757575;
}
.action-img img{
    border-radius:25px;
}

/* productive styles */

.productive{
    width:1140px;
    text-align:center;
    padding:30px 0;
    background-color: #e0e0e6;
    margin:0 auto;
    border-radius:20px;
}
.productive-title{
    font-size:38px;
    font-weight: bold;
}
.productive-value{
    margin-top:40px;
    display:flex;
    justify-content: center;
    gap:158px;
}
.productive-number h1{
    font-size:80px;
    font-weight: bold;
    color:#4E47FF;
}
.productive-number p{
    font-size:20px;
    color:#757575;
}

/* review styles */
.review{
    width:1140px;
    margin:0 auto;
    padding:150px 0;
}
.review-parents{
    display:flex;
    justify-content: space-around;
    gap:20px;
}
.review-head{
    text-align: center;
    font-size:42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.review-content{
    background-color: rgb(250,252,255);
    padding:20px;
    border-radius:10px;
}
.review-content h3{
    margin-bottom:8px;
}
.review-icon{
    margin-bottom: 22px;
}
.review-icon span{
    color:#FFB805;
}
.review-child{
    display:flex;
    margin-top:22px;
}
.review-child img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right: 6px;
}
.img-para{
    color:#757575;
}
.img-title{
    font-weight: 800;
    color:#757575;
}

/* focus styles */
.focus{
    width:1140px;
    text-align:center;
    margin:0 auto;
    background-color: #ffffff;
    padding:50px 0;
    border-radius:15px;
}
.focus button , .focus img{
    display:block;
    margin:18px auto;
}
.focus .focus-title{
    font-size:50px;
    font-weight: bold;
}
.focus-para{
    color:#757575;
    padding:20px 0;
}
.focus img{
    border-radius:35px;
}
